name: CS2 SIMPLE UPLOAD
on: workflow_dispatch

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Nettoyage et Maximisation (96 Go)
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          overprovision-lvm: 'true'

      - name: 2. Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: 3. Installation DepotDownloader
        run: |
          wget https://github.com/SteamRE/DepotDownloader/releases/download/DepotDownloader_3.4.0/DepotDownloader-linux-x64.zip
          unzip DepotDownloader-linux-x64.zip
          chmod +x DepotDownloader

      # --- PARTIE 1 : MAIN DEPOT ---

      - name: 4. Téléchargement CS2 (Main)
        run: |
          ./DepotDownloader -app 730 -depot 2347770 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Main -validate

      - name: 5. Création du fichier TAR
        # On crée le fichier car curl a besoin d'un fichier physique
        # --remove-files : Supprime le dossier original pour ne pas saturer le disque
        run: |
          tar -cvf cs2_main.tar --remove-files -C ./CS2_Main .

      - name: 6. Upload Simple (Ta méthode)
        # Exactement la commande de la doc
        run: |
          curl -X POST https://api.gofile.io/uploadFile -F "file=@cs2_main.tar"

      # --- PARTIE 2 : BINARIES ---

      - name: 7. Téléchargement Binaires
        run: |
          rm -f cs2_main.tar # On nettoie le précédent
          ./DepotDownloader -app 730 -depot 2347771 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Bin -validate

      - name: 8. Création TAR Binaires
        run: |
          tar -cvf cs2_bin.tar --remove-files -C ./CS2_Bin .

      - name: 9. Upload Simple Binaires
        run: |
          curl -X POST https://api.gofile.io/uploadFile -F "file=@cs2_bin.tar"
