name: CS2 AUTO-CLEAN DOWNLOAD
on: workflow_dispatch

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Nettoyage Système
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc "/usr/local/share/boost"
          sudo apt-get autoremove -y && sudo apt-get clean

      - name: 2. Maximiser l'espace (96 Go)
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          overprovision-lvm: 'true'

      - name: 3. Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: 4. Installation DepotDownloader
        run: |
          wget https://github.com/SteamRE/DepotDownloader/releases/download/DepotDownloader_3.4.0/DepotDownloader-linux-x64.zip
          unzip DepotDownloader-linux-x64.zip
          chmod +x DepotDownloader

      # --- PARTIE 1 : MAIN DEPOT (33 Go) ---

      - name: 5. Téléchargement CS2 (Main)
        run: |
          ./DepotDownloader -app 730 -depot 2347770 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Main -validate

      - name: 6. Zip & Delete (Main)
        # --remove-files : Supprime les fichiers sources DÈS qu'ils sont ajoutés à l'archive
        # On crée un fichier cs2_main.tar stable sur le disque
        run: |
          echo "Compression et suppression des sources..."
          tar -cvf cs2_main.tar --remove-files -C ./CS2_Main .

      - name: 7. Upload GoFile (Main)
        # Upload du fichier solide (pas de pipe, donc pas de crash curl)
        run: |
          SERVER=$(curl -s https://api.gofile.io/getServer | jq -r '.data.server')
          echo "Upload vers $SERVER..."
          curl -F "file=@cs2_main.tar" "https://$SERVER.gofile.io/uploadFile"
          
          # On supprime l'archive une fois envoyée pour faire de la place pour la suite
          rm -f cs2_main.tar

      # --- PARTIE 2 : BINARIES (2 Go) ---

      - name: 8. Téléchargement CS2 (Binaries)
        run: |
          ./DepotDownloader -app 730 -depot 2347771 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Bin -validate

      - name: 9. Zip & Delete (Binaries)
        run: |
          tar -cvf cs2_bin.tar --remove-files -C ./CS2_Bin .

      - name: 10. Upload GoFile (Binaries)
        run: |
          SERVER=$(curl -s https://api.gofile.io/getServer | jq -r '.data.server')
          curl -F "file=@cs2_bin.tar" "https://$SERVER.gofile.io/uploadFile"
