name: CS2 SPLIT FILTER (NO SPACE ERROR)
on: workflow_dispatch

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Nettoyage et Maximisation (96 Go)
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          overprovision-lvm: 'true'

      - name: 2. Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: 3. Installation DepotDownloader
        run: |
          wget https://github.com/SteamRE/DepotDownloader/releases/download/DepotDownloader_3.4.0/DepotDownloader-linux-x64.zip
          unzip DepotDownloader-linux-x64.zip
          chmod +x DepotDownloader

      - name: 4. Téléchargement CS2 (TOUT)
        # On télécharge tout d'un coup (Main + Binaries)
        run: |
          ./DepotDownloader -app 730 -depot 2347770 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Full -validate
          ./DepotDownloader -app 730 -depot 2347771 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Full -validate

      - name: 5. Streaming Intelligent (Split + Upload + Delete)
        # C'est ici que tout se joue.
        # 1. 'tar' envoie les données dans le tuyau.
        # 2. 'split' coupe en morceaux de 2 Go (2000M).
        # 3. '--filter' exécute le script DANS les guillemets pour CHAQUE morceau séparément.
        run: |
          echo "Démarrage du découpage et upload à la volée..."
          
          # La variable $FILE est créée automatiquement par split pour chaque morceau (xaa, xab, etc.)
          tar -c -C ./CS2_Full . | split -b 2000M --filter='
            # A. On écrit le morceau de 2Go sur le disque
            cat > $FILE
            
            echo "--------------------------------------"
            echo "Morceau $FILE créé (2Go). Upload en cours..."
            
            # B. On l upload vers GoFile (API directe)
            curl -X POST https://api.gofile.io/uploadFile -F "file=@$FILE"
            
            echo ""
            echo "Upload fini pour $FILE. Suppression immédiate."
            
            # C. ON SUPPRIME LE FICHIER IMMÉDIATEMENT
            rm -f $FILE
          ' - cs2_part_
