name: CS2 GoFile Ninja Downloader
on: workflow_dispatch

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Nettoyage Système Agressif
        # On libère l'espace sur /dev/root qui est plein à 100% chez toi
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc "/usr/local/share/boost"
          sudo apt-get autoremove -y && sudo apt-get clean

      - name: 2. Maximiser l'espace LVM (Partition 93 Go)
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          overprovision-lvm: 'true' # Utilise tes 93 Go de libre

      - name: 3. Setup .NET 8 & DepotDownloader
        run: |
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '8.0.x'
          wget https://github.com/SteamRE/DepotDownloader/releases/download/DepotDownloader_3.4.0/DepotDownloader-linux-x64.zip
          unzip DepotDownloader-linux-x64.zip
          chmod +x DepotDownloader

      - name: 4. Téléchargement CS2 (Dépôt Principal ~33 Go)
        # On télécharge le gros morceau sur les 93 Go disponibles
        run: |
          ./DepotDownloader -app 730 -depot 2347770 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Main -validate

      - name: 5. Compression Ninja et Upload GoFile
        # D'après la doc API : https://upload.gofile.io/uploadfile
        # Paramètre : file=@- (pour lire le flux de tar en direct)
        # --remove-files : supprime chaque fichier dès qu'il est lu
        run: |
          echo "Début de l'upload vers GoFile..."
          tar -cv --remove-files -C ./CS2_Main . | curl -F "file=@-;filename=cs2_main_data.tar" https://upload.gofile.io/uploadfile
          # Le lien apparaîtra dans les logs ci-dessous

      - name: 6. Téléchargement Binaires (~2 Go)
        run: |
          ./DepotDownloader -app 730 -depot 2347771 -user ${{ secrets.STEAM_USER }} -pass ${{ secrets.STEAM_PASS }} -dir ./CS2_Bin

      - name: 7. Upload Binaires et Nettoyage
        run: |
          tar -cv --remove-files -C ./CS2_Bin . | curl -F "file=@-;filename=cs2_binaries.tar" https://upload.gofile.io/uploadfile
